body {
    background-color: #fff;
    color: #222;
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: small;
}

.top {
    text-align: right; /*Moves ul to the right side of the page*/ 
    font-size: 13px;
    
    min-width: 220px;
    padding: 3px 11px 0 30px;
    margin-right: 5px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end; /* is used in conjuction to flex to push the top navigation to the right*/
}

.mid {
    padding-top: 98px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-element {
    display: inline-block;
}

.googleimg {
    display:block;
    margin-left: 500px;
    margin-top: 200px;
    width: 20%;
    position: absolute;
        
        
}
li {
    display: inline-block;
    width: 60px;
    margin-top: 5px;
    
}


ul li a {
    
    color: #000;
    opacity: 0.75;
    float: right;
    text-decoration: none;
    
}


#search-field-input {
    height: 20px;
    width: 385px;
    text-decoration: none;
    
}



