body {
    background-color: #fff;
    color: #222;
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: small;
}

.top {
    text-align: right; /*Moves ul to the right side of the page*/ 
    font-size: 13px;
    
    min-width: 220px;
    padding: 3px 11px 0 30px;
    margin-right: 5px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end; /* is used in conjuction to flex to push the top navigation to the right*/
}

.mid {
    padding-top: 98px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-element {
    display: inline;
    width: 60px;
    margin-top: 5px;
    margin-right: 10px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

.googleimg {
    display:block;
    margin-left: 500px;
    margin-top: 200px;
    width: 20%;
    position: absolute;
        
}

#search-field-box { 
    text-align: center;
    margin: 25px auto 15px auto;
    padding: 10px 15px;
    border-style: solid;
    width: 451px;
    height: 24px;
    border-width: 0.5px;
    border-color: lightgray;
    border-radius: 30px;
    background: url('../images/search-icon.png') no-repeat scroll 9px 8px;
    background-size: 5.5%;
    background-position: left center 45px;
}

#sign-in_button {
    display: inline;
    background-color: #37adff;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 1px;
    width: 70px;
    height: 28px;
}

#menu-button {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    padding-top: -40px;
    display: inline-block;
    outline:none;
}

#search-field-input {
    height: 20px;
    width: 385px;
    border: none;
}
#search-field-input:focus { /*Gets rid of the blue glow from the html text box*/
    outline: none;
}

#googleimg {
    text-align: center;
    margin: auto;
}

#button-search, #button-lucky {
    display: inline;
    background-image: -moz-linear-gradient(top, #f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none; /*Specifies whether the text of an element can be selected*/
}



#language-change {
    margin: -4px 0;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:lightgray;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
}

#bottom-left ul{
    list-style: none;
    position: relative;
    float: left;
    font-size: 13px;
}

#bottom-right ul{
    list-style: none;
    position: relative;
    float: right;
    font-size: 13px;
}

#bottom-left ul li {
    display: inline;
    margin-right: 7px;
    
}

#bottom-right ul li {
    display: inline;
    margin-right: 7px;
    padding-right: 10px;
}






