body {
    background-color: #fff;
    color: #222;
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: small;
}

.top {
    text-align: right; /*Moves ul to the right side of the page*/ 
    font-size: 13px;
    min-width: 220px;
    margin-right: 20px;
}


.googleimg {
    display:block;
    margin-left: 500px;
    margin-top: 200px;
    width: 20%;
    position: absolute;
        
        
}
li {
    display: inline-block;
    width: 60px;
    margin-top: 5px;
    
}


ul li a {
    
    color: #000;
    opacity: 0.75;
    float: right;
    text-decoration: none;
    
}